body {
    font-family: 'Poppins', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.button-tambah, .button-kembali, .button-hapus {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.button-tambah {
    background-color: #28a745;
}

.button-tambah:hover {
    background-color: #218838;
}

.button-hapus {
    background-color: #dc3545;
}

.button-hapus:hover {
    background-color: #c82333;
}

.button-kembali:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
